<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>태그 연습</title>
</head>
<body>
    <h1> Hello Tags ! </h1>
    <h2> Hello Tags ! </h2>
    <h3> Hello Tags ! </h3>
    <h4> Hello Tags ! </h4>
    <h5> Hello Tags ! </h5>
    <h6> Hello Tags ! </h6>

    <p>
        어떤 <strong>문장</strong>을 표현하고 싶을 때...<br/>  <!-- strong: 굵은글씨, br: 줄 바꾸기(break)-->
        사용하는 태그입니다.
    </p>

    <a href="/hello1"> hello world1으로 가기</a>

    <table border="1" cellspacing="0" cellpadding="10" >  <!-- cell 사이의 간격 없애려면 cellspacing값을 0으로 주기. cellpadding은 cell 안의 간격 -->
        <tr>  <!--tr: table row 가로 행)-->
            <td>data1</td>  <!--tr: table data)-->
            <td>data2</td>
            <td>data3</td>
        </tr>

        <tr>
            <td>data1</td>
            <td>data2</td>
            <td>data3</td>
        </tr>

        <tr>
            <td>data1</td>
            <td>data2</td>
            <td>data3</td>
        </tr>
    </table>
</body>
</html>