<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>방명록</title>
</head>
<body>
	<form method="post" action="/guestbook01/delete">  <!-- 입력값을 /guestbook01/delete로 보냄-->
		{% csrf_token %}
		<input type='hidden' name="no" value="{{ request.GET.no }}">
		<table>
			<tr>
				<td>비밀번호</td>
				<td><input type="password" name="password"></td>
				<td><input type="submit" value="확인"></td>
				<td><a href="/guestbook01">메인으로 돌아가기</a></td>
			</tr>
		</table>
	</form>
</body>
</html>