<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>방명록</title>
</head>
<body>
	<form action="/guestbook01/add" method="post"> <!-- 입력값을 /guestbook01/add로 보냄-->
		{% csrf_token %}
	<table border=1 width=500>

		<tr>
			<td>이름</td><td><input type="text" name="name" value=""></td>

			<td>비밀번호</td><td><input type="password" name="password" value=""></td>
		</tr>
		<tr>
			<td colspan=4><textarea name="message" cols=60 rows=5></textarea></td>
		</tr>
		<tr>
			<td colspan=4 align=right><input type="submit" value=" 등록 "></td>
		</tr>

	</table>
	</form>


	<br>

	{% for guestbook in guestbook_list %}

	<table width=510 border=1>
		<tr>
			<td>{{ guestbook.no }}</td>
			<td>{{ guestbook.name }}</td>
			<td>{{ guestbook.reg_date }}</td>
			<td><a href="/guestbook01/deleteform?no={{ guestbook.no }}">삭제</a></td>
		</tr>
		<tr>
			<td colspan=4>{{ guestbook.message }}</td>
		</tr>
	</table>

	{% endfor %}

</body>
</html>