<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>메일 리스트에 가입되었습니다.</h1>
	<p>입력한 정보 내역입니다.</p>
	<!-- 메일정보 리스트 -->

	{% for emaillist in emaillist_list %}
	<table border="1" cellpadding="5" cellspacing="2">
		<tr>
			<td align=right>First name: </td>
			<td>{{ emaillist.first_name }}</td>  <!-- DB값을 써 줄 때에는, 딕셔너리로 !-->
		</tr>
		<tr>
			<td align=right width="110">Last name: </td>
			<td width="110">{{ emaillist.last_name }}</td>
		</tr>
		<tr>
			<td align=right>Email address: </td>
			<td>{{ emaillist.email }}</td>
		</tr>
	</table>
	<br>
	{% endfor %}


	<p>
		<a href="/emaillist02/form">추가메일 등록</a>  <!-- 추가 화면으로 이동-->
	</p>
	<br>
</body>
</html>